@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fadeInLeft {
    animation-delay: 0s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: fadeInLeft;
  }
  