@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: fadeInLeft;
}

.project-card {
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.project-card.left {
  transform: translateX(-25%);
}

.project-card.right {
  transform: translateX(25%);
}


.leadership-experience {
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.fade-in-left {
  transform: translateX(-25%);
}
.fade-in-right {
  transform: translateX(25%);
}



/* Define z-index layers */
.z-background { z-index: 10; } /* For background elements */
.z-content { z-index: 20; } /* For regular content */
.z-navbar { z-index: 50; } /* For navigation bar */
.z-overlay { z-index: 100; } /* For overlays or modals */

/* Ensure background elements have lower z-index */
.bg-darkGrey2 { z-index: 10; } /* Example for background */